.parallax {
  /* The image used */
  background-image: url("/assets/city.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show {
  opacity: 1;
}

.fade-in {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
