<div class="reviews">
    <span style="margin-bottom: 3rem; font-size: 1.5rem; line-height: 1.15"
      >What People Are Saying About MOVA</span
    >
    <div class="quotes">
      <div>
        <h1 class="quotes-text" style="font-size: 1.8rem; line-height: 1.15">
          “This quote needs to nudge visitors <br />
          toward a conversion by <br />
          establishing trust.”
        </h1>
        <div class="quoter" style="margin-top: 30px">
          <img
            src="/assets/morgen.png"
            alt="CEO"
            style="width: 75px; height: 75px; border-radius: 50%"
          />
          <div style="display: flex; flex-direction: column">
            <span style="font-size: 1.5rem; margin-bottom: 7px">Morgen</span>
            <span style="font-size: 1.1rem">@MorgenStern</span>
          </div>
        </div>
      </div>
      <div>
        <h1 class="quotes-text" style="font-size: 1.8rem; line-height: 1.15">
          “This quote needs to reinforce the <br />
          value of your product and nudge <br />
          visitors toward a conversion.”
        </h1>
        <div class="quoter" style="margin-top: 30px">
          <img
            src="/assets/morgen.png"
            alt="CEO"
            style="width: 75px; height: 75px; border-radius: 50%"
          />
          <div style="display: flex; flex-direction: column">
            <span style="font-size: 1.5rem; margin-bottom: 7px">Marlow</span>
            <span style="font-size: 1.1rem">@SlavaMarlow</span>
          </div>
        </div>
      </div>
    </div>
  </div>