<div class="reviews">
  <span style="margin-bottom: 3rem; font-size: 1.5rem; line-height: 1.15"
    >What People Are Saying About MOVA</span
  >
  <div class="quotes">
    <div class="quote">
      <h1 style="font-size: 1.8rem; line-height: 1.15">
        “And you counting money in my wallet <br />
        and you love only money, but not me, <br />
        I see how you look at other people <br />
        Who has yachts, cars and pools, <br />
        And what about me, poor me”
      </h1>
      <div class="quoter" style="margin-top: 30px">
        <img
          src="/assets/morgen.png"
          alt="CEO"
          style="width: 75px; height: 75px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 1.5rem; margin-bottom: 7px">Marlow</span>
          <span style="font-size: 1.1rem">@SlavaMarlow</span>
        </div>
      </div>
    </div>
    <div class="quote">
      <h1 style="font-size: 1.8rem; line-height: 1.15">
        “Yes, I am a rich bastard<br />
        and I have much money,<br />
        my face is like a box.”
      </h1>
      <div class="quoter" style="margin-top: 30px">
        <img
          src="/assets/morgen.png"
          alt="CEO"
          style="width: 75px; height: 75px; border-radius: 50%"
        />
        <div style="display: flex; flex-direction: column">
          <span style="font-size: 1.5rem; margin-bottom: 7px">Morgen</span>
          <span style="font-size: 1.1rem">@MorgenStern</span>
        </div>
      </div>
    </div>
  </div>
</div>
